body {
    background-color: #333;
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    padding:0;
    margin:0;
}

h1 {
    font-size: 3.25rem;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "tools editor"
}

.tools {
    background-color: #555;
    /* overflow-y: scroll; */
    padding: 1.2rem;
    grid-template-rows: 80px;
    /* grid-auto-rows: minmax(65px, 100px); */
    grid-row-gap: 20px;
    grid-area: tools;
    display: grid;
    justify-items: center;
}

.group {
    width: 100%;
    min-height: 65px;
    max-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-row-gap: 20px; */
}

.group input[type=number],
.group input[type=color] {
    width: 75px;
    font-family: 'Raleway', sans-serif;
    color: ghostwhite;
    background-color: #666;
    border: 2px solid #777;
    border-radius: 4px;
    text-align:right;
    justify-self: end;
}

.group input.full {
    grid-column: span 2;
}

.editor {
    grid-area: editor;
    display: grid;
    justify-items: center;
}